body, html {
  margin: 0;
  /* margin-bottom: 100px; */
  clear: both;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}


.header {
  display: flex;
  padding-top: 3rem;
  position: fixed;
  width: 95%;
  align-items: end;
  justify-content: flex-end;
  z-index: 1;
}
.hamburgerBtn {
  display: block;
  cursor: pointer;
  /* padding-right: 3rem; */
  padding-bottom: 2rem;
  height: 2rem;
  top: 3rem;
}

.hmbgTglBox {
  height: 20vmin;
}
.hmbgBtnTgl {
  position: relative;
  display: flex;
  flex-flow: column;
  width: max-content;
  list-style-type: none;
  padding : 1rem 1rem;
  
  background: rgba(200, 200, 200, 0.829);
}

li a{
  font-weight: 400;
  font-size: 2.5rem;
  text-decoration: none;
  color: #3f4359;;
}
.bars {
  
  float: right;
  margin: 1rem;
  padding: 10px;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
  
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.flexContainer {
  /* padding-bottom: 50rem; */
  left: 0;
  position: relative;
  min-height: 100%;
}
.introduce {
  margin: 0;
  padding: 0;
  /* z-index: 1; */
  display: flex;
  min-height: 170rem;
  font-size: 2rem;
}
.bgArea {
  margin: 0;
  padding: 0;
  /* z-index: -1; */
  background-image: url("../images/MK4_6838.JPG");
  background-size: cover;
  background-position: center;
  background-attachment:scroll;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 170rem;
  width: 100%;
  font-size: 2rem;
  aspect-ratio: 2/3;
  background-position: center center;
  object-fit:none;
}

.introduceBox {
  /* z-index: 2; */
  /* padding-top: 20%; */
  /* height: 60%; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-evenly;
  
}

.mainDesc {
  display: flex;
  flex-flow: column;
  /* flex-wrap: wrap; */
  align-items: center;
  width: 55%;
  min-width: 30rem;
}

/* .mainDesc p {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
} */
#helloIm {
  font-size: 5rem;
  font-weight: 700;
  color: #3f4359;
}

#dongin {
  font-size: 8rem; 
  font-weight: 900;
  color: #6f88b3;
}


#yun {
  font-size: 8rem; 
  font-weight: 900;
  color: #272a38;
}

#sd {
  font-size: 3rem;
  font-weight: 400;
  color: #3f4359;
}

.fontText {
  font-size: 1.5rem;
  font-weight: 300;
  /* padding-top: 2rem; */
  margin-top: 0;
}

.mainDesc div {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
}

.mainDesc div #button1, #button2 {
  font-weight: 700;
  font-size: 3rem;
  color: #3f4359;
  text-align: center;
  text-decoration: none;
  width: 15rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  border-radius: 50rem;
  background-color: rgb(247, 246, 236);
  border-color: rgb(201, 196, 140);
  border: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(121, 118, 116);
}

.mainDesc div #button1:hover, #button2:hover {
  background-color: rgb(245, 243, 221);
}

.mainDesc div #button1:active, #button2:active{
  background-color: rgb(245, 243, 221);
  transform: translateY(0.3rem);
}

.portrait {
  display: flex;
  justify-content: center;
}
.portraitImg {
  border-radius: 25%;
  height: 25rem;
  padding-top: 3vmin;
}
.about {
  /* z-index: 2; */
  /* height: 40%; */
  width: 100%;
  bottom: 0;
  position: relative;
  display: flex;
  flex-flow: column;
  flex: 1 1 1px;
  font-size: 10rem;
  background-color: rgba(200, 200, 200, 0.7);
}

.sectionTitle {
  width: 90%;
  /* height: 12rem; */
  padding: 5%;
  font-size: 10rem;
  font-weight: 900;
  color: #272a38;
  display: flex;
  align-items: center;
}

.main .sectionTitle {
  width: 90%;
  height: 10%;
  /* top: 100%; */
  padding: 5%;
  font-size: 10rem;
  font-weight: 900;
  align-items: end;
  display: flex;
  color: #272a38;
  overflow-wrap: anywhere;
}
.aboutDesc {
  display: flex;
  /* flex-wrap: row wrap; */
  font-size: 2.5rem;
  min-width: 90%;
  padding: 0 5%;
  padding-top: 0;
  padding-bottom: 3rem;
  flex-grow: 1;
}

.aboutText{
  display: flex;
  padding-right: 5%;
  width: 60%;
}

.aboutImgArea {
  width: 40%;
  padding-bottom: 2rem;
  display:flex;
  flex-flow: column wrap;
  align-content: center;
  transition: transform .2s;
  flex-grow: 1;
}
.aboutImg {
  width: 20rem;
  margin-bottom: 5%;
  border-radius: 1rem;
}


@media only screen and (max-width: 992px), (max-height:1350px)  {
  .aboutDesc {
    flex-flow: column;
    padding-left: 5%;
  }
  .aboutText {
    width: 90%;
  }
  .aboutImgArea {
    width: 90%;
  }
}
.main {
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 200vh;
  min-height: 200rem;
  width: 100%;
  clear: both;
}

.skills {
  height: 50%;
  /* flex-grow: 1; */
  min-height: 80rem;
  /* padding-left: 5%;
  padding-right: 5%; */
  display: flex;
  flex-flow: column;
  background-color: #7ea9e6;
  align-items: center;
  justify-content: center;
  clear: both;
}

.skillsContainer {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.skillSetTitle {
  font-weight: 700;
  font-size: 5rem;
  color: #2f355c;
  text-align: center;
  width: 90%;
}

@media only screen and (max-width:992px), (max-height:1350px)  {
  .skillSetTitle {
    font-size: 3rem;
  }
}
.mainSkill {
  /* height: 40%; */
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  clear: both;
  align-items: center;
  justify-content: center;
}

.skillList {
  /* margin: 50px; */
  padding: 0;
  display: flex;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  flex : 1 1 4rem;
  align-content :flex-start;
  width: 90%;
  height: 100%;
  align-items: start;
  justify-content: center;
  clear: both;
}

.skillList div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid;
  border-color: #2f355c;
  border-radius: 50rem;
  box-shadow: 0.7rem 0.7rem 0.95rem rgb(53, 56, 95);
  margin: 1rem;
  padding : 1em 1.5em;
  width: 15rem;
  flex: 0 0 4rem;
  height: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.skillList div:nth-child(3n+0) {

  background-color: #f8da89d8;
}

.skillList div:nth-child(3n+1) {
  
  background-color: #8994f89a;
}

.skillList div:nth-child(3n+2) {
  
  background-color: #139cf79a;
}
.progressSkill {
  /* height: 40%; */
  width: 100%;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  clear: both;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:992px), (max-height:1350px) {
  .skillList div {
    font-size: 1.5rem;
  }
}
.experiences {
  height :50%;
  min-height: 110rem;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  /* flex-grow: 1; */
  background-color: #b59cf5f6;
  align-items: center;
  justify-content: center;
  clear: both;
  /* box-sizing: border-box; */
}


.expContainer {
  /* height: 100%; */
  /* min-height: 100rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clear: both;
  flex-grow: 1;
  /* padding-left: 5%; */
}



.expContentArea {
  position: relative;
  display: flex;
  flex-flow: column;
  /* flex-grow: 1; */
  align-items : start;
  width: 70%;
  /* height : fit-content; */
  /* max-width: 1300px; */
  /* margin-bottom: 0; */
  /* bottom: 0; */
  align-items: center;
  margin-top: 1rem;
  box-sizing: inherit;
  /* clear: both; */
}

.expTimeLine {
  width: 100%;
}
/* The actual timeline (the vertical ruler) */
.expTimeLine::before {
  content: '';
  width: 5px;
  /* height: 100%; */
  position:absolute;
  
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0rem;
  /* margin-left: -3px; */
}

/* Container around content */
.expBox {
  padding: 20px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
  max-width: 80rem;
  left: 0;
  flex-grow: 1;
}


/* Add arrows to the right container (pointing left) */
.expBox::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 1.5rem;
  width: 0;
  z-index: 1;
  left: 1.5rem;
  border: medium solid white;
  border-width: 1rem 1rem 1rem 0;
  border-color: transparent white transparent transparent;
}

/* The circles on the timeline */
.expBox::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 0.3rem solid #ffc21bd2;
  top: 1.5rem;
  border-radius: 50%;
  z-index: 1;
  left: -16px;
}






/* The actual content */
.content {
  padding: 10px 15px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 1rem 1rem 0.15rem rgb(53, 56, 95);
}

.content h2 {
  font-weight: 700;
  font-size: 2.3rem;
  margin: 0.5rem 1rem;
}

.content h3 {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 0.1rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
}

.content p {
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.duraBox {
  display: flex;
  justify-content: right;
}
.expDura {
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
  width:fit-content;
  background-color: #ffc21bd2;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

@media only screen and (max-width:992px), (max-height:1350px)  {
  .expBox {
    padding: 10px 20px;
    position: relative;
    background-color: inherit;
    width: 100%;
    /* max-width: 800px; */
    left: 0;
  }
  .content {
    padding: 15px 20px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 1rem 1rem 0.15rem rgb(53, 56, 95);
  }
  .content h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }
  
  .content h3 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 0.1rem;
    margin-bottom: 1.5rem;
  }
  
  .content p {
    font-weight: 300;
    font-size: 1.1rem;
  }
  .expDura {
    font-weight: 400;
    font-size: 1rem;
    text-align: right;
    width:fit-content;
    background-color: #ffc21bd2;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
  }
}


.footer {
  /* height: 50rem; */
  width: 100%;
  display: flex;
  flex-flow: column;
  /* flex: 0 1 auto; */
  font-size: 2rem;
  background-color: #1d1f2c;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  clear: both;
}

.contactTitle {
  color: rgb(224, 223, 238);
}

.contactContainer {
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
i {
  color: #1232689d;
  height: 40px;
  width:  40px;
  margin: 10px 20px;
}

.contactLeft {
  display: flex;
  flex-flow: column;
  background-color: rgb(199, 216, 231);
  border-radius: 2rem;
  padding: 2rem 2rem;
  padding-bottom: 0;
  margin: 2rem 2.5rem;
  width: 25rem;
  min-width: 25rem;
  height: 25rem;
  box-shadow: 1.3rem 1.3rem 0.5rem rgb(134, 137, 158);
  justify-content: center;
}

.contactLeft div {
  width: 110%;
}
.contactTxt {
  font-weight: 400;  
  font-size: 1.5rem;
  color: rgb(45, 46, 54);
}

.contactMore {
   margin: 0.5rem;
   font-weight: 700;
   font-size: 2.5rem;
   color: rgb(45, 46, 54);
   padding-bottom: 1rem;
}

.contactMoreBtn {
  margin-top: 2rem;
}
.contactRight {
  border-radius: 2rem;
  padding: 2rem 2rem;
  padding-bottom: 0;
  margin: 2rem 2.5rem;
  width: 25rem;
  min-width: 25rem;
  height: 25rem;
  background-color: rgb(235, 231, 226);
  display: flex;
  flex-flow: column;
  box-shadow: 1.3rem 1.3rem 0.5rem rgb(121, 118, 116);
}
.contactForm {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

input {
  background-color: transparent;
  border: solid rgb(64, 82, 53);
  border-width: 0 0 0.2rem 0;
  margin: 0.5rem 1rem;
  width: 90%;
}

input:focus {
  outline: none;
}
label {
  margin-top: 2rem;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 1.7rem;
  color: rgb(64, 82, 53);
}

@media only screen and (max-width:650px) {

}
/* @media screen and (max-height:1760px) {
  
  .main {
    min-height: 3520px;
  }
  .skills {
    min-height: 1760px;
  }
  .experiences {
    min-height: 1760px;
  }
} */

button {
  font-weight: 700;
  font-size: 3rem;
  width: 100%;
  min-width: 5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 50rem;
  background-color: rgb(247, 246, 236);
  border-color: rgb(201, 196, 140);
  border: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(121, 118, 116);
}

button:hover {
  background-color: rgb(245, 243, 221);
}

button:active {
  background-color: rgb(245, 243, 221);
  transform: translateY(0.3rem);
}
@media only screen and (max-width:992px), (max-height:1350px)  {
  .sectionTitle {
    font-size: 7rem;
  }
  .main .sectionTitle {
    font-size: 7rem;
  }
}
/* 
@media only screen and (max-width:992px) {
  .main, .footer {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width:768px) {
  .main, .footer {
    font-size: 0.5rem;
  }
}

@media only screen and (max-width:600px) {
  .main, .footer {
    font-size: 0.3rem;
  }
} */